{% extends 'base.html' %}

{% block title %}
{{ event.title }} ({{ event.start_date }} - {{ event.end_date }})
{% endblock %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% url 'events' %}">Назад к списку эвентов</a>
            <h1 class="display-6">{{ event.title }}</h1>
            <h6>{{ event.start_date }} - {{ event.end_date }}</h6>
        </div>
        <div class="col">
            <a href="{% url 'download' pk=event.pk %}">Скачать расписание волонтеров</a>
        </div>
    </div>
</div>
<br>
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link {% if current_page == 'volunteer_schedule' %}active{% endif %}" aria-current="page"
           href="{% url 'volunteer_schedule' pk=event.pk %}">Волонтерское расписание</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if current_page == 'official_schedule' %}active{% endif %}" aria-current="page"
           href="{% url 'official_schedule' pk=event.pk %}">Официальное расписание</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if current_page == 'other_schedule' %}active{% endif %}" aria-current="page"
           href="{% url 'other_schedule' pk=event.pk %}">Прочее расписание</a>
    </li>
</ul>
<div class="d-flex flex-nowrap">
    <table class="table table-bordered">
        <thead style="background-color:white;position: sticky;position: -webkit-sticky;left: 0;top: 23px;z-index: 3;">
        <tr>
            <th class="blank">&nbsp;</th>
            <th>Время</th>
            {% for row in table_headers.activity_dt %}
            <th class="text-nowrap">{{ row }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th class="blank">&nbsp;</th>
            <th>Активность</th>
            {% for row in table_headers.activity_name %}
            <th class="text-nowrap">{{ row }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th class="blank">&nbsp;</th>
            <th>Наполнение</th>
            {% for row in table_headers.need_peoples %}
            <th class="text-nowrap"
                style="background-color: {% if 'Требуется' in row %}#FFD700{% else %}#00FA9A{% endif %} !important">
                {{ row | safe }}
            </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="blank">&nbsp;</th>
            <th class="blank">&nbsp;</th>
            {% for row in table_headers.activity_name %}
            <th>&nbsp;</th>
            {% endfor %}
        </tr>
        {% for person, data in persons.items %}
        <tr>
            <th style="background-color:white;position: sticky;position: -webkit-sticky;left: 0;top: 23px;z-index: 3;">
                {{ person | safe }}
            </th>
            <th>{{ data.duration_full }}</th>
            {% for value in data.status %}
            <td style="background-color: {% if value == 'Участвует' %}#00FA9A{% elif value == 'Недоступен'%}#FA8072{% endif %} !important">
                {{ value }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}